.myButton {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: Helvetica;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(199, 191, 191, 0.24),
    0 17px 50px 0 rgba(39, 37, 37, 0.19);
}
#startBtn {
  background-color: #69f0ae;
}
#bitcoin {
  font-size: 25px;
  font-family: Helvetica;
  margin-top: 25px;
  padding-left: 30px;
}
.container {
  padding-left: 460px;
  width: 50%;
  margin: 0 auto;
}
